@using MVC.Models.Usuario
@model IEnumerable<ListadoUsuarioViewModel>

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<h1>Listado Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarUsuario", new { id = item.Id }) |
                @Html.ActionLink("Ver Detalles", "VerUsuario", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "BajaUsuario", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>