@using MVC.Models.Envio
@model VerDetallesEnvioViewModel

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<h1>Detalles del Usuario</h1>

<div>
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>NumeroTracking:</strong> @Model.NumeroTracking</p>
    <p><strong>PesoPaquete:</strong> @Model.PesoPaquete</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
    <p><strong>ClienteId:</strong> @Model.ClienteId</p>
    <p><strong>FuncionarioId:</strong> @Model.FuncionarioId</p>
    <p><strong>SeguimientoId:</strong> @Model.SeguimientoId</p>
</div>

<a asp-action="Index" class="btn btn-primary">Volver al Listado</a>