@using MVC.Models.Envio.Comun
@model VerDetallesComunViewModel

@{
    ViewData["Title"] = "Detalles del envio comun";
}

<h1>Detalles del Envio Comun</h1>

<div>
    <p><strong>@Html.DisplayNameFor(model => model.Id)</strong> @Model.Id</p>
    <p><strong>@Html.DisplayNameFor(model => model.NumeroTracking)</strong> @Model.NumeroTracking</p>
    <p><strong>@Html.DisplayNameFor(model => model.PesoPaquete)</strong> @Model.PesoPaquete</p>
    <p><strong>@Html.DisplayNameFor(model => model.Estado)</strong> @Model.Estado</p>
    <p><strong>@Html.DisplayNameFor(model => model.ClienteId)</strong> @Model.ClienteId</p>
    <p><strong>@Html.DisplayNameFor(model => model.FuncionarioId)</strong> @Model.FuncionarioId</p>
    <p><strong>@Html.DisplayNameFor(model => model.SeguimientoId)</strong> @Model.SeguimientoId</p>
    <p><strong>@Html.DisplayNameFor(model => model.NombreAgencia)</strong> @Model.NombreAgencia</p>
</div>


<a asp-action="Index" class="btn btn-primary">Volver al Listado</a>