@using MVC.Models.Envio.Urgente
@model AltaUrgenteViewModel;

@{
    ViewData["Title"] = "Nuevo Envio";
}

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<h1 class="mb-3">Crear Envio Urgente</h1>

<form asp-action="CrearEnvioUrgente">

    <div class="form-floating mb-3">
        <input asp-for="NumeroTracking" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">@Html.DisplayNameFor(model => model.NumeroTracking)</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="PesoPaquete" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">@Html.DisplayNameFor(model => model.PesoPaquete)</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="EmailCliente" type="Email" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">@Html.DisplayNameFor(model => model.EmailCliente)</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="DireccionPostal" type="number" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">@Html.DisplayNameFor(model => model.DireccionPostal)</label>
    </div>

    @* <div class="form-check mb-3">
        <input asp-for="EntregaEficiente" type="checkbox" class="form-check-input" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">@Html.DisplayNameFor(model => model.EntregaEficiente)</label>
    </div> *@

    @* <div class="form-floating mb-3">
        <input asp-for="Comentario" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">@Html.DisplayNameFor(model => model.Comentario)</label>
    </div> *@

    <input type="submit" value="Crear Envio Urgente" class="btn btn-primary w-100" />
</form>