@using LogicaNegocio.EntidadesNegocio
@using MVC.Models.Envio
@model IEnumerable<ListadoEnvioViewModel>

<h1>Listado Envios</h1>

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTracking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTracking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuncionarioId)
                </td>
                <td>
                    @Html.ActionLink("Ver", "Detalles", new { id = item.Id }) |
                    @Html.ActionLink("Editar", "EditarEnvio", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "BajaEnvio", new { id = item.Id }) 
                    @if (item.Estado == Estado.EN_PROCESO)
                    {
                        @* @Html.ActionLink("Cambiar a En Camino", "CambiarComentarioEnvio", new { id = item.Id, type = "EnCamino" })
                        @Html.ActionLink("Cambiar a Listo para Retirar", "CambiarComentarioEnvio", new { id = item.Id, type=""}) *@
                    }
                </td>
            </tr>
        }
    </tbody>
</table>