@using MVC.Models.Envio
@model IEnumerable<VerDetallesEnvioYSeguimientosViewModel>

<h1>Listado Envios</h1>

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(c => c.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Id)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.NumeroTracking)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.FuncionarioId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var clase = "";
                    }
                    @if (item.Tipo == "Comun")
                    {
                        clase = "bg-success p-1 text-white rounded-1";
                    } 
                    else
                    {
                        clase = "bg-danger p-1 text-white rounded-1";
                    }
                    <span class="@clase">@Html.DisplayFor(c => item.Tipo)</span>
                </td>
                <td>
                    @Html.DisplayFor(c => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(c => item.NumeroTracking)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(c => item.FuncionarioId)
                </td>
                @* <td>
                    <span>@Html.ActionLink("Borrar", "BajaEnvio", new { id = item.Id })</span>
                    |
                    @if (item.Estado == Estado.EN_PROCESO.ToString())
                    {
                        <span>@Html.ActionLink("Editar", "Editar")</span>
                    }
                </td> *@
            </tr>
            <h3>@Html.DisplayNameFor(c => c.Seguimientos)</h3>
            <p>@Html.DisplayFor(c => item.Seguimientos)</p>
        }
    </tbody>
</table>